.login-form {
    width: 540px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(25, 25, 25);
    border-radius: 7px;
    margin: 100px 250px;
    padding: 20px 40px;
    height: 700px;
}

h2 {
    font-size: 36px;
    color: rgb(240, 240, 240);

}

p {
    font-size: 14px;
    color: rgb(240, 240, 240);
}

button.iniciar-sesion {
    border-radius: 50px;
    font-weight: 600;
    color: white;
    margin-left: 130px;
    margin-right: 130px;
    padding: 15px;
    background-image: linear-gradient(90deg, rgb(71, 16, 193), rgb(120, 87, 255) 92%, rgb(129, 155, 253) 100%);
}
button.iniciar-sesion:disabled {
    background: grey;
    color: #4d4d4d;
    border: none;
}
.linea {
    background-color: rgb(127, 127, 127); 
    width: 187px; 
    height: 1px; 
    top: 9.5px;
}
.login-form h2 {
    margin-bottom: 10px;
}
.separator-line p {
    margin: 0px 10px;
    text-transform: uppercase;
    color: #7f7f7f;
}
p.pregunta { 
    color: rgb(172, 139, 245);
}
.separator-line {
    display: flex;
    align-items: center;
}

button.proveedor {
    border-radius: 50px;
    color: white;
    background-color: rgb(25, 25, 25);
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.App {
    display: flex;
    justify-content: center;
}

.login-form * {
    color: white;
}
.input-login label, .input-login label.Mui-focused, .input-login input {
    color: grey;
}
.input-login label.Mui-error {
    color: #d32f2f;
}
.input-login {
    margin-bottom: 20px !important;
    width: 100%;
}

.login-form div:before {
    border-bottom: 1px solid grey !important;
}

.login-form div:after {
    border-bottom: 1px solid rgb(91, 28, 230) !important;
}